<div class="auth-main-layout upgraded-auth">
  <div class="auth-side upgraded-auth-side">
    <img src="/img/logo.png" alt="FrameIt Logo" class="auth-logo" />
    <div class="auth-title-side">
      <span class="nowrap-title">
        Manage your <br />
        <span class="brand-simple">FrameIt App</span>
      </span>
    </div>
  </div>
  <div class="auth-container upgraded-auth-container">
    <div class="auth-form-card upgraded-auth-card">
      <div class="auth-form-title upgraded-auth-title">
        Login
      </div>
      <form [formGroup]="authForm" (ngSubmit)="submit()">
        <div class="auth-form-fields">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" (blur)="updateErrorMessage()"
              required />
            @if (email.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix (click)="togglePassword($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword()">
              <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="auth-form-actions upgraded-auth-actions">
          <button mat-raised-button color="primary" type="submit" class="upgraded-auth-btn">
            Login
            @if(isLoading()){
            <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
            }
          </button>
        </div>
      </form>
      @if(loginError()) {
      <div class="error-message upgraded-auth-error">
        <mat-icon>error</mat-icon>
        <span>{{ loginError() }}</span>
      </div>
      }
    </div>
  </div>
</div>