<div class="auth-container">


  <div>
    <img src="/img/logo.png" alt="logo" style="width: 40vh;" />
    <h2 style="color: #a3a3c2; font-size: 2.5rem; font-weight: 500;">
      manage your
      <br>
      <span style="color: #666699; font-weight: 600; font-size: 3rem;">
        FrameIt app
      </span>
    </h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

    <div class="form-container">
      <div class="title-container">
        <img class="img-logo-circle" src="/img/logo.png" alt="logo" style="width: 50px;" />
        <h2>hello admin</h2>
        <p>Enter your credentials to access the admin panel.</p>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()" required />
          @if (email.invalid) {
          <mat-error>{{errorMessage()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="example-button-container">
        <a mat-fab extended routerLink="." (click)="onSubmit()">
          manage
          <mat-icon>login</mat-icon>
        </a>
      </div>

      @if(!isLoginOk()){
<div class="error-message">
  <mat-icon style="padding: 4px;">error</mat-icon>
  <span>Login failed. Please check your credentials.</span>
</div>
}

    </div>





  </form>



</div>


