<nav class="sidebar-container left-align" [class.collapsed]="collapsed">

  <div></div>
  <!-- <img style="width: 20px;" src="/img/logo.png" alt="logo" /> -->

  <div class="sidebar-title">Admin Panel</div>

  <ul class="sidebar-menu">

    @for (item of menuItems; track item.route) {
    <li [class.active]="item.active" (click)="navigateTo(item.route)">
      <mat-icon class="sidebar-icon">{{ item.icon }}</mat-icon>

      @if(!collapsed){
      <span class="sidebar-label">{{ item.title }}</span>
      }
    </li>
    }
  </ul>
  <div class="sidebar-footer">
    <button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span *ngIf="!collapsed">Logout</span>
    </button>
  </div>
</nav>