
  <div></div>
  <!-- <img class="sidebar-logo" src="/img/logo.png" alt="logo" /> -->

  @if(!isSidebarCollapsed()){
  <div class="sidebar-title">FrameIt Admin</div>
  }

  <ul class="sidebar-menu">

    @for (item of menuItems; track item.route) {
    <li [class.active]="item.active" (click)="navigateTo(item.route)">
      <mat-icon class="sidebar-icon">{{ item.icon }}</mat-icon>

      @if(!isSidebarCollapsed()){
      <span class="sidebar-label">{{ item.title }}</span>
      }
    </li>
    }
  </ul>
  
  <div class="sidebar-footer">

    <button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      @if(!isSidebarCollapsed()){
      <span>Logout</span>
      }

    </button>  
  </div>
